////////////////////////////////////////////
// Footer
////////////////////////////////////////////
footer {
    color: $grey;
    h4 {
        font-weight: 500;
    }
    a {
        color: $white;
        @include ease2();
        &:hover {
            color: $grey;
        }
    }
    .table {
        border-top: dotted 1px #323232;
        .tableRow {
            border-bottom: dotted 1px #323232;
            .tableCell {
                padding: 2px 10px;
                @media (max-width: 768px) {
                    line-height: 1.3em;
                }
                &:first-child {
                    color:$white;
                }
            }
        }
    }
    .contactDetails{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        color: $white;
        .contactItem {
            padding: 0 25px 20px 30px;
            position: relative;
            .material-icons {
                color: $primary1;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        strong {
            color: $white;
            font-weight: normal;
        }
    }
    .footerBar {
        a {
            color: $grey;
            text-decoration: none;
            transition: color 0.4s linear;
            &:hover {
                color: $white;
            }
        }
        .amplify {
            .et_pb_text_inner {
                display: inline-block;
            }
            a {
                padding-right: 37px;
                position: relative;
                &::after  {
                    content: "";
                    right: 0;
                    display: block;
                    height: 30px;
                    width: 32px;
                    @include vertCenter();
                    background: url(/wp-content/uploads/2021/12/amplify-creative-glyph-animated.svg) no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}