////////////////////////////////////////////
// Header
////////////////////////////////////////////
header {
    .et_pb_menu {
        .et_pb_menu__logo {
            position: relative;
            img {
                @include ease2();
                &:hover {
                    filter: brightness(1.3);
                }
            }
        }
        @media (max-width:980px) {
            .et_pb_menu__logo-wrap {
                padding-left: 5%;
            }
            .et_pb_menu__wrap {
                padding-right: 5%;
            }
        }
        &.bcMenu{
            .et-menu-nav {
                ul.et-menu {
                    li.menu-item {
                        a {
                            position: relative;
                            @include ease2();
                            z-index: 1;
                            &::before {
                                position: absolute;
                                height: 1px;
                                width: 0;
                                bottom: 40%;
                                bottom: calc(50% - 15px);
                                left: 0;
                                content: "";
                                display: block;
                                z-index: -1;
                                background-color: $black;
                                position: absolute;
                                margin: 0;
                                opacity: 1;
                                @include ease2();
                            }
                            &:hover {
                                background-color: transparent;
                                opacity: 1;
                                color: $black!important;
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                        &.menu-item-has-children {
                            > a { 
                                &::after {
                                    @include vertCenter; 
                                    line-height: 0;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                            &.et-show-dropdown {
                                > a {
                                    &::after {
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }
                        .sub-menu {
                            width: auto;
                            display: flex;
                            flex-direction: column;
                            right: 0;
                            left: unset;
                            li.menu-item {
                                float: left;
                                a {
                                    padding: 0;
                                    margin: 6px 20px;
                                    display: inline-block;
                                    width: auto;
                                    white-space: nowrap;
                                    text-align: left;
                                }
                                &.menu-item-has-children {
                                    > a {
                                        position: relative;
                                        &::after {
                                            @include vertCenter; 
                                            right: -25px;
                                            line-height: 0;
                                            transition: all 0.2s ease-in-out;
                                        }
                                        
                                    }
                                    &:hover {
                                        > a {
                                            &::after {
                                                transform: rotate(180deg);
                                            }
                                        }
                                    }
                                }
                                .sub-menu {
                                    right: unset;
                                    left: 20%;
                                    top: 100%;
                                }
                            }
                        }
                        &.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {
                            > a {
                                color: $black!important;
                                &::before {
                                    width: 100%;
                                }
                            }
                            &.hashLink {
                                > a {
                                    &::before {
                                        width: 0;
                                    }
                                    &:hover {
                                        &::before {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        &.twoCol {
                            > .sub-menu {
                                width: 640px;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                align-content: stretch;
                                justify-content: flex-start;
                                align-items: stretch;
                                > li {
                                    width: 50%;
                                }
                            }
                        }
                        &.contact {
                            a {
                                border: solid 1px $black;
                                padding: 13px 20px;
                                margin: 16px 0;
                                &::before {
                                    content: none;
                                }
                                &:hover {
                                    background-color: $black;
                                    color: $white!important;
                                    border: solid 1px $black;
                                }
                            }
                        }
                    }
                }
            }
            .et_mobile_nav_menu {
                .mobile_nav {
                    .et_divi_100_custom_hamburger_menu__icon {
                        margin-bottom: 0;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    ul.et_mobile_menu {
                        box-shadow: none;
                        padding-left: 0;
                        padding-right: 0;
                        @media (hover: none) {
                            max-height: 600px;
                            max-height: 85vh;
                            max-height: calc(100vh - 80px);
                            overflow-y: scroll;
                        }
                        li.menu-item {
                            text-align: left;
                            a {
                                border: none;
                                padding: 0;
                                margin: 10px 5%;
                                width: auto;
                                display: inline-block;
                                position: relative;
                                @include ease2();
                                z-index: 1;
                                text-align: left;
                                &::before {
                                    position: absolute;
                                    height: 1px;
                                    width: 0;
                                    bottom: 40%;
                                    bottom: calc(50% - 15px);
                                    left: 0;
                                    content: "";
                                    display: block;
                                    z-index: -1;
                                    background-color: $black;
                                    position: absolute;
                                    margin: 0;
                                    opacity: 1;
                                    @include ease2();
                                }
                                &:hover {
                                    background-color: transparent;
                                    opacity: 1;
                                    &::before {
                                        width: 100%;
                                    }
                                }
                            }
                            &.menu-item-has-children {
                                > ul.sub-menu {
                                    padding-left: 20px;
                                }
                                > a {
                                    background-color: transparent;
                                    position: relative;
                                    font-weight: 600!important;
                                    &::after {
                                        font-family: 'ETmodules'; 
                                        text-align: center; 
                                        speak: none; 
                                        font-weight: normal; 
                                        font-variant: normal; 
                                        text-transform: none; 
                                        -webkit-font-smoothing: antialiased; 
                                        font-size: 16px; 
                                        content: '\33'; 
                                        @include vertCenter; 
                                        right: -25px;
                                        line-height: 0;
                                        transform-origin: center;
                                        transition: all 0.2s ease-in-out;
                                    }
                                }
                                ul.sub-menu {
                                    display: none !important; 
                                    visibility: hidden !important;  
                                }
                                &.visible {
                                    > a {
                                        &::after {
                                            transform: rotate(180deg);
                                        }
                                    }
                                    > {
                                        ul.sub-menu {
                                            display: block !important; 
                                            visibility: visible !important;
                                        }
                                    }
                                }
                            }
                            &.contact {
                                a {
                                    margin-top: 10px;
                                    padding: 5px 5%;
                                    border: solid 1px $black;
                                    display: inline-block;
                                    &::before {
                                        content: none;
                                    }
                                    &:hover {
                                        background-color: $black;
                                        color: $white!important;
                                        border: solid 1px $black;
                                    }
                                } 
                            }
                            &.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {
                                > a {
                                    color: $black!important;
                                    &::before {
                                        width: 100%;
                                    }
                                }
                                &.hashLink {
                                    > a {
                                        &::before {
                                            width: 0;
                                        }
                                        &:hover {
                                            &::before {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}