////////////////////////////////////////////
// Mixins
////////////////////////////////////////////
@mixin ease5 {
    transition: all 0.5s ease-in-out;
}
@mixin ease2 {
    transition: all 0.2s ease-in-out;
}
@mixin vertCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin horCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin fixedCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin boxShadow {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
}
@mixin textTwoCol {
    @media (min-width: 768px) {
        column-count: 2;
        column-gap: 10%;
        p {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                break-inside: avoid;
        }
    }
}
@mixin textThreeCol {
    @media (min-width: 768px) {
        column-count: 3;
        column-gap: 10%;
        p {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                break-inside: avoid;
        }
    }
}
@mixin marker {
    color: $white;
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
        to right,
        rgba(128, 122, 98, 0.1),
        rgba(128, 122, 98, 0.7) 4%,
        rgba(128, 122, 98, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline-block;
}
@mixin markerWhite {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.95) 4%,
        rgba(255, 255, 255, 0.7)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline-block;
}