////////////////////////////////////////////
// Variables
////////////////////////////////////////////
$white: #ffffff;
$black: #000000;
$primary1: #807a62;
$drk: #777777;
$grey: #c6c6c6;
$lgrey: #f9f9f9;
$bgrey: #a5a6ab;
$lpink: #faf6f5;
$dpink: #f5cac8;