/* ===========================
LOGIN PAGE
=========================== */
.login #login h1 a {
  background-image: url("https://www.bei-capelli.co.uk/wp-content/uploads/2021/12/bei-capelli-logo-dark.svg") !important;
  background-size: contain;
  height: 75px;
  width: auto;
}

.grecaptcha-badge {
  visibility: hidden !important;
}
