.table {
  margin: auto;
  display: block;
}

.table .tableRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .table .tableRow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px 0;
  }
}

.table .tableRow .tableCell {
  padding: 10px 15px;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.table .tableRow .tableCell.cellGrow2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.table .tableRow .tableCell.cellGrow3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.table .tableRow .tableCell.cellGrow4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

@media (max-width: 767px) {
  .table .tableRow .tableCell {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 100%;
    text-align: left !important;
    padding: 5px 15px;
  }
}

/* ===========================
STYLES
=========================== */
::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

#top-header > .container,
#et_search_outer > .container,
body.single #main-content > .container,
body.page:not(.et-tb-has-template) div.et_pb_row,
body.page.et-tb-has-template .et-l--post div.et_pb_row,
body.single-project div.et_pb_row,
body.single-project div.et_pb_row.et_pb_row_fullwidth,
body.et-db #et-boc .et-l .et_pb_row {
  width: 90%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
}

body .subHeader h3 {
  font-weight: 500;
  padding-bottom: 0;
}

body #page-container header .et_pb_menu .et_pb_menu__logo {
  position: relative;
}

body #page-container header .et_pb_menu .et_pb_menu__logo img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #page-container header .et_pb_menu .et_pb_menu__logo img:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

@media (max-width: 980px) {
  body #page-container header .et_pb_menu .et_pb_menu__logo-wrap {
    padding-left: 5%;
  }
  body #page-container header .et_pb_menu .et_pb_menu__wrap {
    padding-right: 5%;
  }
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item a {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item a::before {
  position: absolute;
  height: 1px;
  width: 0;
  bottom: 40%;
  bottom: calc(50% - 15px);
  left: 0;
  content: "";
  display: block;
  z-index: -1;
  background-color: #000000;
  position: absolute;
  margin: 0;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item a:hover {
  background-color: transparent;
  opacity: 1;
  color: #000000 !important;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item a:hover::before {
  width: 100%;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.menu-item-has-children > a::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.menu-item-has-children.et-show-dropdown > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item .sub-menu {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  left: unset;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item .sub-menu li.menu-item {
  float: left;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item .sub-menu li.menu-item a {
  padding: 0;
  margin: 6px 20px;
  display: inline-block;
  width: auto;
  white-space: nowrap;
  text-align: left;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item .sub-menu li.menu-item.menu-item-has-children > a {
  position: relative;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item .sub-menu li.menu-item.menu-item-has-children > a::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -25px;
  line-height: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item .sub-menu li.menu-item.menu-item-has-children:hover > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item .sub-menu li.menu-item .sub-menu {
  right: unset;
  left: 20%;
  top: 100%;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-item > a, body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-ancestor > a, body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-parent > a {
  color: #000000 !important;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-item > a::before, body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-ancestor > a::before, body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-parent > a::before {
  width: 100%;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-item.hashLink > a::before, body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-ancestor.hashLink > a::before, body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-parent.hashLink > a::before {
  width: 0;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-item.hashLink > a:hover::before, body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-ancestor.hashLink > a:hover::before, body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.current-menu-parent.hashLink > a:hover::before {
  width: 100%;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.twoCol > .sub-menu {
  width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.twoCol > .sub-menu > li {
  width: 50%;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.contact a {
  border: solid 1px #000000;
  padding: 13px 20px;
  margin: 16px 0;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.contact a::before {
  content: none;
}

body #page-container header .et_pb_menu.bcMenu .et-menu-nav ul.et-menu li.menu-item.contact a:hover {
  background-color: #000000;
  color: #ffffff !important;
  border: solid 1px #000000;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav .et_divi_100_custom_hamburger_menu__icon {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

@media (hover: none) {
  body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu {
    max-height: 600px;
    max-height: 85vh;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item {
  text-align: left;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item a {
  border: none;
  padding: 0;
  margin: 10px 5%;
  width: auto;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  text-align: left;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item a::before {
  position: absolute;
  height: 1px;
  width: 0;
  bottom: 40%;
  bottom: calc(50% - 15px);
  left: 0;
  content: "";
  display: block;
  z-index: -1;
  background-color: #000000;
  position: absolute;
  margin: 0;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item a:hover {
  background-color: transparent;
  opacity: 1;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item a:hover::before {
  width: 100%;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.menu-item-has-children > ul.sub-menu {
  padding-left: 20px;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.menu-item-has-children > a {
  background-color: transparent;
  position: relative;
  font-weight: 600 !important;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.menu-item-has-children > a::after {
  font-family: 'ETmodules';
  text-align: center;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  content: '\33';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -25px;
  line-height: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.menu-item-has-children ul.sub-menu {
  display: none !important;
  visibility: hidden !important;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.menu-item-has-children.visible > a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.menu-item-has-children.visible > ul.sub-menu {
  display: block !important;
  visibility: visible !important;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.contact a {
  margin-top: 10px;
  padding: 5px 5%;
  border: solid 1px #000000;
  display: inline-block;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.contact a::before {
  content: none;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.contact a:hover {
  background-color: #000000;
  color: #ffffff !important;
  border: solid 1px #000000;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-item > a, body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-ancestor > a, body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-parent > a {
  color: #000000 !important;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-item > a::before, body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-ancestor > a::before, body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-parent > a::before {
  width: 100%;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-item.hashLink > a::before, body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-ancestor.hashLink > a::before, body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-parent.hashLink > a::before {
  width: 0;
}

body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-item.hashLink > a:hover::before, body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-ancestor.hashLink > a:hover::before, body #page-container header .et_pb_menu.bcMenu .et_mobile_nav_menu .mobile_nav ul.et_mobile_menu li.menu-item.current-menu-parent.hashLink > a:hover::before {
  width: 100%;
}

body #page-container #et-main-area {
  -webkit-animation: bodyFadeIn 2s;
          animation: bodyFadeIn 2s;
}

@-webkit-keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bodyFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  body #page-container #et-main-area .et_pb_text.twoCol .et_pb_text_inner {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 5%;
            column-gap: 5%;
    -webkit-column-fill: balance;
            column-fill: balance;
  }
}

body #page-container #et-main-area .et_pb_text .marker {
  color: #ffffff;
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 122, 98, 0.1)), color-stop(4%, rgba(128, 122, 98, 0.7)), to(rgba(128, 122, 98, 0.3)));
  background-image: linear-gradient(to right, rgba(128, 122, 98, 0.1), rgba(128, 122, 98, 0.7) 4%, rgba(128, 122, 98, 0.3));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline-block;
}

body #page-container #et-main-area .et_pb_text .markerWhite {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.7)), color-stop(4%, rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.95) 4%, rgba(255, 255, 255, 0.7));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline-block;
}

body #page-container #et-main-area .et_pb_text a {
  color: #000000;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  text-decoration: underline;
  weight: 400;
}

body #page-container #et-main-area .et_pb_text a:hover {
  color: #807a62;
}

body #page-container #et-main-area .et_pb_text ul li {
  line-height: 1.6em;
  margin-bottom: 5px;
}

body #page-container #et-main-area .et_pb_text ol {
  list-style: none;
  counter-reset: decimal;
  position: relative;
  margin-bottom: 30px;
}

body #page-container #et-main-area .et_pb_text ol li {
  line-height: 1.6em;
  margin-bottom: 5px;
  counter-increment: decimal;
  position: relative;
  padding-left: 23px;
}

body #page-container #et-main-area .et_pb_text ol li::before {
  position: absolute;
  left: 0;
  content: counters(decimal, ".") ". ";
}

body #page-container #et-main-area .et_pb_text ol li::marker {
  display: none;
}

body #page-container #et-main-area .et_pb_text ol li ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

body #page-container #et-main-area .et_pb_text ol li ol li {
  padding-left: 38px;
}

body #page-container #et-main-area .et_pb_text ol li ol li ol {
  margin-bottom: 0;
}

body #page-container #et-main-area .et_pb_text ol li ol li ol li {
  padding-left: 53px;
}

body #page-container #et-main-area .et_pb_text ol li ul li {
  padding-left: 0;
}

body #page-container #et-main-area .et_pb_text ol li ul li::before {
  content: none;
}

body #page-container #et-main-area .et_pb_text.et_pb_bg_layout_dark a, body #page-container #et-main-area .et_pb_text.et_pb_bg_layout_dark strong {
  color: #ffffff;
}

body #page-container #et-main-area .et_pb_text.et_pb_bg_layout_dark a:hover {
  color: #c6c6c6;
}

body #page-container #et-main-area .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
}

body #page-container #et-main-area .socialIcons img {
  height: 30px;
  opacity: 0.75;
  -webkit-transition: opacity 0.4s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  transition: opacity 0.4s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

body #page-container #et-main-area .socialIcons img:hover {
  opacity: 1;
}

body #page-container #et-main-area .socialIcons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 980px) {
  body #page-container #et-main-area #main-content {
    /*** wrap row in a flex box ***/
    /*** custom classes that will designate the order of columns in the flex box row ***/
    /*** add margin to last column ***/
  }
  body #page-container #et-main-area #main-content .custom_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Safari 6.1+ */
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body #page-container #et-main-area #main-content .first-on-mobile {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body #page-container #et-main-area #main-content .second-on-mobile {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body #page-container #et-main-area #main-content .third-on-mobile {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  body #page-container #et-main-area #main-content .fourth-on-mobile {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  body #page-container #et-main-area #main-content .custom_row:last-child .et_pb_column:last-child {
    margin-bottom: 30px;
  }
}

body #page-container #et-main-area #main-content .fpBanner .subHeader .seperator {
  color: #f5cac8;
}

@media (max-width: 980px) {
  body #page-container #et-main-area #main-content .fpBanner .subHeader .seperator {
    color: #faf6f5;
  }
}

body #page-container #et-main-area #main-content .fpService {
  cursor: pointer;
}

body #page-container #et-main-area #main-content .fpService .et_pb_code_inner h2 {
  position: absolute;
  top: 0;
  z-index: 1;
  color: #faf6f5;
  padding: 5% 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  body #page-container #et-main-area #main-content .fpService .et_pb_code_inner h2 {
    position: sticky;
    position: -webkit-sticky;
    top: 185px;
    padding: 0 0 10% 10%;
    text-shadow: none;
  }
}

body #page-container #et-main-area #main-content .fpService .et_pb_code_inner img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 20px 35px -20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 35px -20px rgba(0, 0, 0, 0.25);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

body #page-container #et-main-area #main-content .fpService:hover .et_pb_code_inner img {
  -webkit-filter: grayscale(1) brightness(0.7);
          filter: grayscale(1) brightness(0.7);
}

body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard .swiper-container .as-dots-wrapper .swiper-bullets {
  bottom: 0;
}

body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard .swiper-container .as-dots-wrapper .swiper-bullets .swiper-pagination-bullet {
  margin-right: 10px;
}

body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard .swiper-container .as-dots-wrapper .swiper-bullets .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard .swiper-container .as-arrows-control .as-prev, body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard .swiper-container .as-arrows-control .as-next {
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  background-color: #f5cac8;
  opacity: 0.9;
  -webkit-transform: opacity 0.2s linear;
          transform: opacity 0.2s linear;
}

body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard .swiper-container .as-arrows-control .as-prev .custom_icon, body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard .swiper-container .as-arrows-control .as-next .custom_icon {
  line-height: 1.4;
}

body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard .swiper-container .as-arrows-control .as-prev:hover, body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard .swiper-container .as-arrows-control .as-next:hover {
  opacity: 1;
}

body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard.testimonialCarousel .swiper-container .swiper-wrapper .swiper-slide {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

body #page-container #et-main-area #main-content .cwp_et_pb_layout_slider_standard.testimonialCarousel .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body #page-container #et-main-area footer {
  color: #c6c6c6;
}

body #page-container #et-main-area footer h4 {
  font-weight: 500;
}

body #page-container #et-main-area footer a {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body #page-container #et-main-area footer a:hover {
  color: #c6c6c6;
}

body #page-container #et-main-area footer .table {
  border-top: dotted 1px #323232;
}

body #page-container #et-main-area footer .table .tableRow {
  border-bottom: dotted 1px #323232;
}

body #page-container #et-main-area footer .table .tableRow .tableCell {
  padding: 2px 10px;
}

@media (max-width: 768px) {
  body #page-container #et-main-area footer .table .tableRow .tableCell {
    line-height: 1.3em;
  }
}

body #page-container #et-main-area footer .table .tableRow .tableCell:first-child {
  color: #ffffff;
}

body #page-container #et-main-area footer .contactDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #ffffff;
}

body #page-container #et-main-area footer .contactDetails .contactItem {
  padding: 0 25px 20px 30px;
  position: relative;
}

body #page-container #et-main-area footer .contactDetails .contactItem .material-icons {
  color: #807a62;
  position: absolute;
  left: 0;
  top: 0;
}

body #page-container #et-main-area footer .contactDetails strong {
  color: #ffffff;
  font-weight: normal;
}

body #page-container #et-main-area footer .footerBar a {
  color: #c6c6c6;
  text-decoration: none;
  -webkit-transition: color 0.4s linear;
  transition: color 0.4s linear;
}

body #page-container #et-main-area footer .footerBar a:hover {
  color: #ffffff;
}

body #page-container #et-main-area footer .footerBar .amplify .et_pb_text_inner {
  display: inline-block;
}

body #page-container #et-main-area footer .footerBar .amplify a {
  padding-right: 37px;
  position: relative;
}

body #page-container #et-main-area footer .footerBar .amplify a::after {
  content: "";
  right: 0;
  display: block;
  height: 30px;
  width: 32px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/wp-content/uploads/2021/12/amplify-creative-glyph-animated.svg) no-repeat;
  background-size: contain;
}

body .et_pb_scroll_top {
  border-radius: 0 !important;
  background: #807a62 !important;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

body .et_pb_scroll_top:hover {
  opacity: 0.7;
}

.mfp-wrap .mfp-container.mfp-image-holder .mfp-content .mfp-figure figure figcaption {
  display: none;
}

.grecaptcha-badge {
  visibility: hidden !important;
}
