////////////////////////////////////////////
// IMPORTS
////////////////////////////////////////////
@import 'variables';
@import 'mixins';
@import 'table';

/* ===========================
STYLES
=========================== */
// CHANGE HIGHLIGHT COLOUR
::-moz-selection { background: $black; color: $white; }
::selection { background: $black; color: $white; }

// CHANGE GLOBAL ROW MAX WIDTH
#top-header > .container,
#et_search_outer > .container,
body.single #main-content > .container,
body.page:not(.et-tb-has-template) div.et_pb_row,
body.page.et-tb-has-template .et-l--post div.et_pb_row,
body.single-project div.et_pb_row,
body.single-project div.et_pb_row.et_pb_row_fullwidth,
body.et-db #et-boc .et-l .et_pb_row {
    width: 90%; 
}
html {
    scroll-behavior: smooth;
}
body {
    font-weight: 300;
    .subHeader {
        h3 {
            font-weight: 500;
            padding-bottom: 0;
        }
    }
    #page-container {
        @import 'header';
        #et-main-area {
            animation: bodyFadeIn 2s;
            @keyframes bodyFadeIn {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .et_pb_text {
                &.twoCol {
                    .et_pb_text_inner {
                        @media (min-width: 768px) {
                            column-count: 2;
                            column-gap: 5%;
                            column-fill: balance;
                        }
                    }
                }
                .marker {
                    @include marker();
                }
                .markerWhite {
                    @include markerWhite();
                }
                a {
                    color: $black;
                    cursor: pointer;
                    transition: color 0.2s ease-out;
                    text-decoration: underline;
                    weight: 400;
                    &:hover {
                        color: $primary1;
                    }
                }
                ul {
                    li {
                        line-height: 1.6em;
                        margin-bottom: 5px;
                    }
                }
                ol {
                    list-style: none;
                    counter-reset: decimal;
                    position: relative;
                    margin-bottom: 30px;
                    li {
                        line-height: 1.6em;
                        margin-bottom: 5px;
                        counter-increment: decimal;
                        position: relative;
                        padding-left: 23px;
                        &::before {
                            position: absolute;
                            left: 0;
                            content: counters(decimal, ".") ". ";
                        }
                        &::marker {
                            display: none;
                        }
                        ol {
                            list-style: none;
                            padding-left: 0;
                            margin-bottom: 0;
                            li {
                                padding-left: 38px;
                                ol {
                                    margin-bottom: 0;
                                    li {
                                        padding-left: 53px;
                                    }
                                }
                            }
                        }
                        ul {
                            li {
                                padding-left: 0;
                                &::before {
                                    content: none;
                                }
                            }
                        }
                    }
                }
                &.et_pb_bg_layout_dark {
                    a, strong {
                        color: $white;
                    }
                    a {
                        &:hover {
                            color: $grey;
                        }
                    }
                }
            }
            .socialIcons {
                img {
                    height: 30px;
                    opacity: 0.75;
                    transition: opacity 0.4s cubic-bezier(.2, .85, .32, 1.2);
                    &:hover {
                        opacity: 1;
                    }
                }
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                align-content: center;
                justify-content: space-between;
                align-items: stretch;
                gap: 20px;
                a {
                    display: flex;
                    align-items: center;
                }
            }
            #main-content {
                @media all and (max-width: 980px) {
                    /*** wrap row in a flex box ***/
                    .custom_row {
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
                        flex-wrap: wrap;
                    }
                    /*** custom classes that will designate the order of columns in the flex box row ***/
                    .first-on-mobile {
                        -webkit-order: 1;
                        order: 1;
                    } 
                    .second-on-mobile {
                        -webkit-order: 2;
                        order: 2;
                    }	 
                    .third-on-mobile {
                        -webkit-order: 3;
                        order: 3;
                    }	 
                    .fourth-on-mobile {
                        -webkit-order: 4;
                        order: 4;
                    }
                    /*** add margin to last column ***/
                    .custom_row:last-child .et_pb_column:last-child {
                        margin-bottom: 30px;
                    }	 
                }
                .fpBanner {
                    .subHeader {
                        .seperator {
                            color: $dpink;
                            @media (max-width: 980px) {
                                color: $lpink;
                            }
                        }
                    }
                }
                .fpService {
                    cursor: pointer;
                    .et_pb_code_inner {
                        h2 {
                            position: absolute;
                            top: 0;
                            z-index: 1;
                            color: $lpink;
                            padding: 5% 30px;
                            font-weight: 500;
                            text-transform: uppercase;
                            letter-spacing: 4px;
                            display: inline-block;
                            text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                            @media (min-width:768px) {
                                position: sticky;
                                position: -webkit-sticky;
                                top: 185px;
                                padding: 0 0 10% 10%;
                                text-shadow: none;
                            }
                        }
                        img {
                            @include ease2();
                            box-shadow: 0px 20px 35px -20px rgba(0, 0, 0, 0.25);
                            border-top-right-radius: 50px;
                            border-bottom-left-radius: 50px;
                        }
                    }
                    &:hover {
                        .et_pb_code_inner {
                            img {
                                filter: grayscale(1) brightness(0.7);
                            }
                        }
                    }
                }
                .cwp_et_pb_layout_slider_standard {
                    .swiper-container {
                        .as-dots-wrapper {
                            .swiper-bullets {
                                bottom: 0;
                                .swiper-pagination-bullet {
                                    margin-right: 10px;
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                        .as-arrows-control {
                            .as-prev, .as-next {
                                transition: background-color .2s ease;
                                background-color: $dpink;
                                opacity: 0.9;
                                transform: opacity 0.2s linear;
                                .custom_icon {
                                    line-height: 1.4;
                                }
                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &.testimonialCarousel {
                        .swiper-container {
                            .swiper-wrapper {
                                .swiper-slide {
                                    transition: transform 0.4s ease;
                                    transform: scale(0.7);
                                    &.swiper-slide-active {
                                        transform: scale(1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @import 'footer';
        }
    }
    .et_pb_scroll_top {
        border-radius: 0!important;
        background: $primary1!important;
        transition: opacity 0.2s linear;
        &:hover {
            opacity: 0.7;
        }
    }
}
.mfp-wrap {
    .mfp-container {
        &.mfp-image-holder {
            .mfp-content {
                .mfp-figure {
                    figure {
                        figcaption {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.grecaptcha-badge { visibility: hidden!important; }